
.leftPart{
    font-family: 'Poppins', sans-serif;
    position: relative;
    
}

.leftPart :hover  {
    opacity: 95%;
    
}

.tata {
    border:52px red;
    
}
.leftText:hover {
    color: rgb(181, 129, 230);
    box-shadow: inset 0px 0px 20px 10px slategray;
}

.scoping{
    position: absolute;
    right: 5%;
    top: 5%;
    
    background-color: tomato;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    color: white !important;

}